@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
nav {
    padding: 1em;
    
}
.navbar-brand, .nav-link{
    text-decoration: none;
    color: white;
}
.nav-link:hover, .navbar-brand:hover {
    color: pink;
    transition: ease 1s;
}
#header {
    margin-top: 7em;
}
.mathias-farber {
    
}